#[fan]
#pin: PA4

#[heater_fan fan1]
#pin: PA3

[temperature_fan pi_cooling]
pin: PA3
sensor_type: temperature_host
control: pid
target_temp: 47
min_temp: 0
max_temp: 100
min_speed: 0.20
max_speed: 0.55
off_below: 0.18
kick_start_time: 1.0
cycle_time: 0.008
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0

[controller_fan driver_fan_1]
pin: PA4
max_power: 1.0
shutdown_speed: 0.0
idle_timeout: 60
stepper: stepper_x, stepper_y, stepper_z, extruder

[controller_fan driver_fan_2]
pin: rpi: gpio26
max_power: 1.0
shutdown_speed: 0.0
idle_timeout: 60
stepper: stepper_x, stepper_y, stepper_z, extruder


#[heater_fan SoC_fan]
#pin: CB1: gpio79
#pin: RPI: gpio26